* { 
  box-sizing: border-box; 
  cursor: default;
}

body {
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
  font-family: 'Rubik';
  background-color: #333;
  color: white;
}

.logo {
  position: absolute;
  z-index: 10;
  transform: scale(1) perspective(1040px) rotateY(2deg) rotateX(2deg) rotate(-1deg) translateX(1em);
  top: 8vh;
  left: 12vh;
  width: 200px;
  height: 75px;
  background-image: url(/img/monogram.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.logo h1 {
  font-family: 'Calistoga';
  text-align: left;
  margin-left: 5.5rem;
  margin-bottom: 0;
  letter-spacing: -1px;
}

.logo h6 {
  text-align: left;
  margin-left: 6.25rem;
  margin-top: 0;
  line-height: 0;
}

input,
textarea {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 1rem;
  min-width: 300px;
	background-color: transparent;
  border: none;
	border-bottom: 2px solid white;
	padding: 0.25rem;
	border-radius: 0;
	color: white;
	cursor: pointer;
}

.field {
	padding: 0.5rem;
}

.button {
	background-color: #3e206d;
	border: 2px solid white;
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	color: white;
	cursor: pointer;
}