* { 
  box-sizing: border-box; 
}

body {
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
  font-family: 'Rubik';
  background-color: #333;
  color: white;
}

h1,
h2,
h3 {
  font-family: 'Calistoga';
}

input,
textarea {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 1rem;
  min-width: 300px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding: 0.25rem;
  border-radius: 0;
  color: white;
  cursor: text;
}

.is-transparent {
  opacity: 0;
}

.is-hidden {
  display: none;
}

.has-text-left {
  text-align: left;
}

.logo {
  position: absolute;
  top: 2vh;
  left: 4vh;
  z-index: 10;
  transform: scale(1) perspective(1040px) rotateY(2deg) rotateX(2deg) rotate(-1deg) translateX(1em);
  width: 200px;
  height: 75px;
  background-image: url(/img/monogram.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.logo h1 {
  text-align: left;
  margin-left: 5.5rem;
  margin-bottom: 0;
  letter-spacing: -1px;
}

.logo h6 {
  text-align: left;
  margin-left: 6.25rem;
  margin-top: 0;
  line-height: 0;
}


.field {
	padding: 0.5rem;
}

.button {
	background-color: white;
	border: 2px solid #3e206d;
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	color: #3e206d;
	cursor: pointer;
}

.is-mobile, 
.is-desktop {
  display: none;
}

#works {
  list-style: none;
  padding: 0;
  margin: 0;
}

#works li {
  float: left;
  width: 100px;
  height: 100px;
  display: inline-grid;
}

#works li a {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}


.swal-title {
  font-family: 'Calistoga'
}

.swal-content {
  color: rgba(0,0,0,.65);
}

@media screen and (max-width:768px) {
  .is-mobile {
    display: block;
  }
  .is-desktop {
    display: none;
  }
}

@media screen and (min-width:769px) {
  .is-desktop {
    display: block;
  }
  .logo {
    top: 6vh;
    left: 12vh;
  }
}
